*{
    box-sizing: border-box;
    font-family:'Lato',sans-serif;
}

.container{
    background:#ddd;
    height:400px;
    margin:0 auto;
    position:relative;
    width:900px;
}

.header{
    color:violet;
    height:140px;
    padding:10px;
    text-align:center;
}

.main{
    background:rgba(238,130,238,0.6);
    -webkit-box-shadow: inset 2px 2px 2px #ddd;
    box-shadow: inset 2px 2px 2px #ddd;
    color:black;
    height:200px;
    margin:0 auto;
    padding:30px;
    text-align:center;
    width:800px;
}

.question{
    margin-left: 50px;
    text-align: left;
}

#questionNumber{
    padding-right:10px;
    font-size:20px;
}

.choices{
    margin-left: 50px;
    text-align: left;
}

.next{
    background:violet;
    padding:7px;
    text-align: center;
}

.next:hover{
    background: rgba(238,130,238,0.6);
    }

.submit{
    background:rgba(128,128,128,0.8);
    padding:7px;
    text-align: center;
}

.submit:hover{
    background: rgba(128,128,128,0.6);
    }

.buttons{
    bottom:15px;
    position:absolute;
    left:45%;
}

